<div class="dashboard" ng-controller="DashCtrl">
  <aside class="articles sidebar" id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li ng-repeat="article in articles">{{article.headline}}</li>
    </ul>
  </aside>
  <div class="stock-list" id="page-content-wrapper">
    <div class="stock" ng-repeat="stock in stockList" ng-class="upOrDown(stock) ? 'up' : 'down'">
      <a href="/stocks/{{stock.symbol}}">
        <p>{{stock.symbol}}</p>
        <p>{{stock.last_trade_price_only}}</p>
      </a>
    </div>
</div>