<div class="stock-page container" ng-controller="StockCtrl" ng-class="upOrDown(stock) ? 'up' : 'down'">
  <aside class="articles sidebar" id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li ng-repeat="article in articles">{{article.headline}}</li>
    </ul>
  </aside>
  <section class="stock-info">
    <div class="name-container">
      <h3 class="stock-name">{{ stock.name }} <span class="market">{{ stock.market }}</span></h3>
      <h4 class="stock-symbol">{{stock.symbol}}</h4>
    </div>
    <div class="price-container">
      <h1 class="stock-price">{{ stock.last_trade_price_only }}</h1>
      <h2 class="stock-change">
        <i class="fa fa-chevron"></i>
        <span class="currency">{{ stock.change | currency }}</span>
        <span class="percentage">{{ stock.changein_percent }}</span>
      </h2>
    </div>
    <div class="chart-container">
      <div class="chart" style="height: 320px; min-width: 250px"></div>
      <div class="x-axis">
        <!-- <ul class="scale">
          <li>Day</li>
          <li>Week</li>
          <li>Month</li>
          <li>Year</li>
        </ul> -->
      </div>
    </div>
  </section>
  <section class="stats">
    <!-- <ul class="stats-list">
      <li>
        <span class="stat-name">Open</span>
        <span class="stat-value">{{stock.open}}</span>
      </li>
      <li>
        <span class="stat-name">High</span>
        <span class="stat-value">{{stock.year_high}}</span>
      </li>
      <li>
        <span class="stat-name">Low</span>
        <span class="stat-value">{{stock.year_low}}</span>
      </li>
      <li>
        <span class="stat-name">Volume</span>
        <span class="stat-value">{{stock.volume}}</span>
      </li>
      <li>
        <span class="stat-name">Avg Vol</span>
        <span class="stat-value">{{stock.average_daily_volume}}</span>
      </li>
      <li>
        <span class="stat-name">Mkt Cap</span>
        <span class="stat-value">{{stock.market_capitalization}}</span>
      </li>
    </ul> -->
  </section>
</div>