<div class="stock-page container">
  <section class="search">
    <input type="text" placeholder="Search"/>
    <i class="fa fa-search"></i>
  </section>
  <section class="stock-info">
    <div class="name-container">
      <h3 class="stock-name">{{stock.name}} <span class="market">({{stock.market}})</span></h3>
      <h4 class="stock-symbol">{{stock.symbol}}</h4>
    </div>
    <div class="price-container">
      <h1 class="stock-price">{{ stock.price }}</h1>
      <h2 class="stock-change">
        <i class="fa fa-chevron"></i>
        <span class="currency">{{ stock.currency_change | currency }}</span>
        <span class="percentage">({{ stock.percent_change }}%)</span>
      </h2>
    </div>
    <div class="chart-container">
      <div class="chart"></div>
      <div class="x-axis">
        <ul class="scale">
          <li>Day</li>
          <li>Week</li>
          <li>Month</li>
          <li>Year</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="stats">
    <ul class="stats-list">
      <li>
        <span class="stat-name">Open</span>
        <span class="stat-value">222.72</span>
      </li>
      <li>
        <span class="stat-name">High</span>
        <span class="stat-value">226.97</span>
      </li>
      <li>
        <span class="stat-name">Low</span>
        <span class="stat-value">221.75</span>
      </li>
      <li>
        <span class="stat-name">Volume</span>
        <span class="stat-value">3,090,383</span>
      </li>
      <li>
        <span class="stat-name">Avg Vol</span>
        <span class="stat-value">5,880,000</span>
      </li>
      <li>
        <span class="stat-name">Mkt Cap</span>
        <span class="stat-value">27.74B</span>
      </li>
    </ul>
  </section>
</div>