@import "../../vendor/bower/bourbon/dist/bourbon";
@import "../../vendor/bower/bitters/app/assets/stylesheets/base";
@import "../../vendor/bower/neat/app/assets/stylesheets/neat";
@import "grid-settings";

// Typography
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

// Variables
$base-body-color: #fff;


// Individual Stock Page Styles

.container {
  font-family: 'Roboto', sans-serif;
}

.search {
  @include fill-parent;
  height: 60px;
  background: #fff;
  color: #000;
  input {
    height: 100%;
    height: 60px;
    border-radius: 0px;
  }
}

.stock-info {
  @include outer-container;
  text-align: center;
  width: 700px;
}

.stats {
  @include fill-parent;
  position: fixed;
  bottom: 0px;
  ul {
    li {
      float: left;
      padding: 10px;
      background: #000;
      color: #fff;
      width: 16.66%;
      text-align: center;
    }
  }
}


// Homepage Grid Styles
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $grid-items-background: $base-body-color;
  $grid-item-background: desaturate($base-accent-color, 30);
  $grid-item-colors:
    desaturate($base-accent-color, 30),
    #3581A5,
    #5FBEBE,
    #98C79A,
    #A7A891,
    #BDCC97,
    #979EA0,
    #D6F2F7;
  $grid-item-border-size: 9px;
  $grid-item-columns: 3;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 14em;

  @include clearfix;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-top: 0;
    text-align: center;
    cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 to 9 { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        &:hover {
          background-color: darken($background-from-list, 10);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-item img {
      display: block;
      height: 3em;
      margin: auto;
      margin-bottom: 1em;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {
      margin: auto;
      color: transparentize($grid-item-color, .3);
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  .grid-item-image {
    background: url(/images/lake-transparent.png);
    background-color: $grid-item-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

