@import "../../vendor/bower/bourbon/dist/bourbon";
@import "../../vendor/bower/bitters/app/assets/stylesheets/base";
@import "../../vendor/bower/neat/app/assets/stylesheets/neat";
@import "grid-settings";

///////////////////////////////////////////////
//////////////// Global Styles ////////////////
///////////////////////////////////////////////

// Typography
$roboto-font: 'Roboto', sans-serif;

// Variables
$base-body-color: #fff;

// Style defaults
html, body {
  height: 100%;
  background: #E84F88;
}

.ng-scope {
  height: 100%;
}

//////////////////////////////////////////////////////////////
//////////////// Individual Stock Page Styles ////////////////
//////////////////////////////////////////////////////////////

.stock-page {
  @include clearfix;
  font-family: $roboto-font;
  background: #E84F88;
  color: #fff;
  height: 100%;

  .search {
    @include fill-parent;
    height: 75px;
    background: #fff;
    color: #000;
    position: relative;

    input {
      height: 75px;
      border-radius: 0px;
      border: none;
      box-shadow: none;
      font-size: 17px;
      color: #000;
      text-transform: uppercase;
      font-family: $roboto-font;
      letter-spacing: 0.05em;
      padding-left: 42px;
      @include placeholder {
        font-size: 17px;
        color: #B4B4B4;
        text-transform: uppercase;
        font-family: $roboto-font;
        letter-spacing: 0.05em;
      }
    }

    i {
      position: absolute;
      top: 26px;
      left: 12px;
      color: #B4B4B4;
      font-size: 20px;
    }
  }

  .stock-info {
    @include outer-container;
    text-align: center;
    width: 700px;
    margin-top: 5%;
  }

  .name-container {
    .stock-name {
      font-weight: 300;
      font-family: $roboto-font;

      .market {
        text-transform: uppercase;
      }
    }

    .stock-symbol {
      font-family: $roboto-font;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .price-container {
    padding-top: 65px;

    .stock-price {
      font-family: $roboto-font;
      font-weight: 100;
      font-size: 104px;
    }

    .stock-change {

      .currency {
        font-weight: 400;
      }

      .percentage {
        font-weight: 200;
      }
    }
  }

  .chart-container {
    .chart {
      height: 158px;
      width: 100%;
      //background: url("../../img/chart.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .x-axis {
      ul.scale {
        li {
          float: left;
          width: 25%;
          text-align: center;
          color: #fff;
          font-family: $roboto-font;
        }
      }
    }
  }

  .stats {
    @include fill-parent;
    position: fixed;
    bottom: 0px;
    ul {
      li {
        float: left;
        padding: 10px;
        background: #000;
        color: #fff;
        width: 16.66%;
        text-align: center;
        font-family: $roboto-font;

        .stat-name {
          color: #7D7D7D;
          display: block;
          text-transform: uppercase;
        }

        .stat-value {
          color: #fff;
          font-size: 34px;
          font-weight: 300;
        }
      }
    }
  }
}


//////////////////////////////////////////////////////
//////////////// Homepage Grid Styles ////////////////
//////////////////////////////////////////////////////

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $grid-items-background: $base-body-color;
  $grid-item-background: desaturate($base-accent-color, 30);
  $grid-item-colors:
    desaturate($base-accent-color, 30),
    #3581A5,
    #5FBEBE,
    #98C79A,
    #A7A891,
    #BDCC97,
    #979EA0,
    #D6F2F7;
  $grid-item-border-size: 9px;
  $grid-item-columns: 3;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 14em;

  @include clearfix;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-top: 0;
    text-align: center;
    cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 to 9 { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        &:hover {
          background-color: darken($background-from-list, 10);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-item img {
      display: block;
      height: 3em;
      margin: auto;
      margin-bottom: 1em;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {
      margin: auto;
      color: transparentize($grid-item-color, .3);
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  .grid-item-image {
    background: url(/images/lake-transparent.png);
    background-color: $grid-item-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

